/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header and Logo */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo-container {
    flex: 1;
    text-align: center;
   
}

.logo {
    width: 1400px;
    height: 500px;
  
    margin-bottom: 15px;
}

.nav {
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 16px;
    font-weight: 500; /* Semi-bold for readability */
    padding: 12px 20px;
    border-radius: 5px;
    background-color: grey; /* Base color for links */
    width: 1150px;
    text-align: center;
    margin-bottom: 10px;
}

.nav li {
    color: black;
    margin: 0 15px;
}

.nav a {
    color: black; /* Set the link color to red */
    text-decoration:dashed;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    color:lightseagreen;/* Keep the hover color the same */
    text-decoration: none;
    background-color: #575757; /* Optional: change background on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }
}
